<div class="container">
  <app-header-registro-ticket active="4"></app-header-registro-ticket>

  <div class="row">

    <div *ngIf="ticketId !== 0" class="col-12 my-3">
      <h2>Editando ticket <span style="font-weight: 800;">#{{ ticketId }}</span> </h2>
    </div>

    <div class="col-12 col-md-8 col-lg-6 mx-auto">


      <form [formGroup]="ticketForm" (ngSubmit)="onSave()">

        <div class="mb-3">
          <label for="" class="form-label">
            Titulo
          </label>

          <input type="text" class="form-control" formControlName="titulo">

          <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">

            <div *ngIf="titulo.errors.required" class="form-text text-danger">
              Titulo es obligatorio.
            </div>

            <div *ngIf="titulo.errors.maxLength" class="form-text text-danger">
              Titulo no puede ser mayor a 100 caracteres.
            </div>

          </div>
        </div>


        <div class="mb-3">
          <label for="" class="form-label">
            Descripción
          </label>

          <textarea formControlName="descripcion" class="form-control" cols="15" rows="7"></textarea>

          <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">

            <div *ngIf="descripcion.errors.required" class="form-text text-danger">
              Descripcion es obligatorio.
            </div>

            <div *ngIf="descripcion.errors.minLength" class="form-text text-danger">
              Descripcion debe tener almenos 10 caracteres.
            </div>

          </div>

        </div>

        <div class="mb-3">

          <label for="" class="form-label">
            Nivel de impacto
          </label>

          <select class="form-select" formControlName="impactoId">
            <option value="">Selecciona el impacto</option>

            <option *ngFor="let impacto of impactos" [ngValue]="impacto.parametros_id">{{ impacto.nombre }}</option>
          </select>


          <div *ngIf="impactoId.invalid && (impactoId.dirty || impactoId.touched)">

            <div *ngIf="impactoId.errors.required" class="form-text text-danger">
              Impacto es obligatorio.
            </div>

          </div>

        </div>

        <div class="mb-3">
          <label class="form-label">Medio de notificacion:</label>

          <div *ngFor="let medio of mediosComunicacion" class="form-check">
            <input id="medio{{ medio.parametros_id }}" class="form-check-input" type="checkbox"
              [value]="medio.parametros_id" (change)="onChangeMedio($event)" [checked]="isChecket(medio)">
            <label class="form-check-label" for="medio{{ medio.parametros_id }}">
              {{ medio.nombre }}
            </label>
          </div>

        </div>

        <div class="mb-3">

          <label class="form-label">Adjuntos:</label>

          <div class="form-text">
            Solo puedes subir imagenes.
          </div>

          <div class="progress" *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-info" attr.aria-valuenow="{{ progress }}" aria-valuemin="0"
              aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
              {{ progress }}%
            </div>
          </div>

          <input class="form-control" type="file" (change)="chooseFile($event)"
            accept="image/png, image/gif, image/jpeg" />

        </div>

        <button class="btn btn-primary d-block btn-save-right " type="submit" [disabled]="!ticketForm.valid || loading"
          [class.spinner]="loading">Guardar</button>

      </form>


    </div>

  </div>

</div>