*.DS_Store
*.iml
*.ipr
*.iws
*.idea
*.log
*.zip
*.class
Thumbs.db
rest-api/src/main/resources/application.properties
rest-api/src/main/resources/application.properties

application.properties

application.prod.properties