*.DS_Store
*.iml
*.ipr
*.iws
*.idea
*.log
*.zip
*.class
Thumbs.db
rest-api/src/main/resources/application.properties
rest-api/src/main/resources/application.properties
*.properties
application.properties

application.properties

application.prod.properties
.temp-rest-api - RestApiApplication-classpath-arg-1621047028271.txt

rest-api/*.txt