<div class="container">

  <div class="row mt-2">

    <div class="col-12 col-md-6">
      <h2>Nuevos</h2>

      <div class="row tickets_container">

        <div *ngFor="let ticket of ticketsNuevos" class="col-12 ctn_ticket">

          <a routerLink="/dashboard/ticket/{{ticket.ticket_id}}">

            <app-ticket-preview [ticket]="ticket"></app-ticket-preview>

          </a>

        </div>

        <div class="col-2 mx-auto text-center" *ngIf="!isLastNuevos">
          <button class="btn btn-icon" [disabled]="loadingNuevos" (click)="loadMoreNuevos()">
            <span class="material-icons-round" [class.spinner]="loadingNuevos">
              autorenew
            </span>
          </button>
        </div>

      </div>


    </div>

    <div class="col-12 col-md-6">
      <h2>Asignados</h2>

      <div class="row tickets_container">

        <div *ngFor="let ticket of ticketsAsignados" class="col-12 ctn_ticket">

          <a routerLink="/dashboard/ticket/{{ticket.ticket_id}}">

            <app-ticket-preview [ticket]="ticket"></app-ticket-preview>

          </a>

        </div>

        <div class="col-2 mx-auto text-center" *ngIf="!isLastAsignados">
          <button class="btn btn-icon" [disabled]="loadingAsignados" (click)="loadMoreAsignados()">
            <span class="material-icons-round" [class.spinner]="loadingAsignados">
              autorenew
            </span>
          </button>
        </div>


      </div>


    </div>

  </div>

</div>