@import "/src/scss/variables";
@import "/src/scss/mixins";

#personal_wrapper {
  display: flex;
  width: 100%;

  .content {
    width: 100%;
    @include commonContentLayout();

    .close_btn {
      display: block;
      margin-left: auto;
      span {
        @include commonIconButton;
      }
    }

    .main-content {
      overflow-x: auto;
      min-height: 100vh;
    }
  }

  .personal_topnav {
    @include commonNav();
    .home_button {
      display: block;
      margin-right: 10px;
      text-decoration: none;
      span {
        @include commonIconButton;
      }
    }
  }
}
