<div id="admin_wrapper">

  <div class="sidebar">

    <div class="sidebar-header">
      <h1>Tirtec</h1>
    </div>

    <ul class="list-unstyled components">

      <div *ngFor="let section of menu;">

        <li class="head">
          {{ section.section }}
        </li>

        <li *ngFor="let option of section.options">
          <a routerLink="{{ option.urlTo }}" routerLinkActive="active">
            <span class="material-icons-round">
              {{option.icon}}
            </span> {{option.label}}
          </a>
        </li>

      </div>

    </ul>

  </div>

  <div class="content">

    <!-- TOP NAV TO CLOSE SESSION -->
    <nav class="admin_topnav">

      <div *ngIf="user" class="user_info">
        <p>Bienvenido, <span>{{ user.nombres + ' ' + user.apellidos }}</span> </p>
      </div>

      <button class="btn close_btn" (click)="logout()">
        <span class="material-icons-round text-danger">
          chevron_right
        </span>
      </button>

    </nav>

    <!-- Breadcrumb -->
    <app-breadcrumb></app-breadcrumb>

    <!-- Alerts -->
    <app-admin-alert></app-admin-alert>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>