<button (click)="triggerModal(modalForm)" class="btn btn-primary">Registrar</button>

<div class="card shadow my-3">

  <div class="card-body">

    <table class="table table-striped table-hover table-responsive">

      <thead>
        <tr>
          <th>Tipo servicio</th>
          <th>Servicio</th>
          <th>Catalogo</th>
          <th>Criticidad</th>
          <th>Impacto</th>
          <th>Nivel Prioridad</th>
          <th>Tiempo Resolucion</th>
          <th>Tiempo Respuesta</th>
          <th>Tiempo Escalada</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let catalogo of catalogos">
          <td>{{ catalogo.tipoServicio.nombre }}</td>
          <td>{{ catalogo.servicio.nombre_servicio }}</td>
          <td>{{ catalogo.descripcion }}</td>
          <td>{{ catalogo.sla.criticidad.nombre }}</td>
          <td>{{ catalogo.sla.impacto.nombre }}</td>
          <td>{{ catalogo.sla.nivelPrioridad.nombre }}</td>
          <td>{{ catalogo.sla.tiempoResolucion }}</td>
          <td>{{ catalogo.sla.tiempoRespuesta }}</td>
          <td>{{ catalogo.sla.reglasEscalada }}</td>
          <td>
            <button class="btn" (click)="update(catalogo.catalogo_id); triggerModal(modalForm);">
              <span class="material-icons-round">
                edit
              </span>
            </button>

            <button class="btn ml-2 text-danger" (click)="delete(catalogo.catalogo_id);">
              <span class="material-icons-round">
                delete
              </span>
            </button>
          </td>
        </tr>

      </tbody>


    </table>

  </div>

</div>

<ng-template #modalForm let-modal>
  <app-form-catalogo [modal]="modal" [idCatalogo]="catalogoId"></app-form-catalogo>
</ng-template>