<button type="button" (click)="GetReporte()" class="btn btn-outline-success">
  Guardar Registro
</button>
<div class="card shadow my-3 card_responsive">

  <div class="card-header">
    <app-admin-search (onSeach)="searchTickets($event)" [loading]='loading'></app-admin-search>
  </div>

  <div class="card-body">

    <table id="ticket" class="table table-striped table-hover table-responsive">

      <thead>
        <tr>
          <th *ngFor="let title of titles">{{ title }}</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let value of values">
          <td *ngFor="let data of value">{{ data }}</td>
        </tr>

      </tbody>


    </table>

    <ngb-pagination [collectionSize]="pageMetada.items" [(page)]="page" [pageSize]="perPage">
    </ngb-pagination>

  </div>

</div>