<div class="container">

  <h2>Tickets Asignados</h2>

  <div class="row mt-2">

    <div *ngFor="let ticket of tickets" class="col-12 col-md-6 col-lg-4 ctn_ticket">

      <a routerLink="/dashboard/ticket/{{ticket.ticket_id}}">

        <app-ticket-preview [ticket]="ticket"></app-ticket-preview>

      </a>

    </div>

  </div>

  <div class="row" *ngIf="!isLastPage">
    <div class="col-2 mx-auto text-center">
      <button class="btn btn-icon" [disabled]="loading" (click)="loadMore()">
        <span class="material-icons-round" [class.spinner]="loading">
          autorenew
        </span>
      </button>
    </div>
  </div>

</div>
