@import "/src/scss/variables";
@import "/src/scss/mixins";
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

.ticket_view {
  .estado-ticket {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px auto;
    p {
      font-weight: 500;
      font-size: 1.6rem;
    }
    small {
      color: $secondary;
    }
  }
  .info_registro {
    p {
      margin-bottom: 0;
      font-size: 0.9rem;
      color: $secondary;
    }
  }

  .solucion_14 {
    border-left: 5px solid $success;
  }

  .solucion_13 {
    border-left: 5px solid $warning;
  }

  .indicacion {
    @include commonSolucion();
  }

  .asignado {
    border-left: 5px solid $primary;
  }

  .solucion_title {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .historial_head {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50px auto 100px;
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background-color: $blue;
    }
    .line {
      margin-top: 20px;
      width: 100%;
      height: 5px;
      background-color: $blue;
    }
    .text {
      display: flex;
      justify-content: center;
      align-content: center;
      h3 {
        line-height: 50px;
        padding-left: 15px;
      }
    }
  }

  .historial_textos {
    min-height: 60px;
    border-left: solid 5px $blue;
    margin-left: 25px;
    padding-top: 15px;
    .historial {
      display: grid;
      grid-template-columns: 20px 25px auto;

      .line-small {
        margin-top: 10px;
        height: 5px;
        width: 20px;
        background-color: $blue;
      }

      .circle-small {
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: $blue;
      }

      .texto {
        margin-left: 10px;
        p {
          margin-bottom: 0;
          span {
            text-decoration: line-through;
            color: $secondary;
          }
        }
        small {
          font-size: 0.8rem;
          color: $secondary;
        }
      }
    }
  }
}

.card_adjunto {
  img {
    display: block;
    margin: 0 auto;
    height: 200px;
  }
  .card_text {
    font-size: 0.8rem;
  }
  border-bottom: 2.5px solid $primary;
}
