@import "/src/scss/variables";

.ctn_ticket {
  .info_ticket {
    &:hover {
      background-color: $accent;
      border-color: $accent;
    }
    b {
      font-size: 1.3rem;
    }
  }
  a {
    text-decoration: none;
  }
}
