<div id="user_wrapper">

  <div class="sidebar">

    <ul class="list-unstyled">
      <li>
        <a routerLink="/user/home" routerLinkActive="active">
          <span class="material-icons-round">
            home
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/user/ticket/tipo-servicio" routerLinkActive="active">
          <span class="material-icons-round">
            receipt
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/user/perfil" routerLinkActive="active">
          <span class="material-icons-round">
            account_circle
          </span>
        </a>
      </li>
    </ul>

  </div>

  <div class="content">

    <!-- TOP NAV TO CLOSE SESSION -->
    <nav class="">

      <button class="btn close_btn" (click)="logout()">
        <span class="material-icons-round text-danger">
          chevron_right
        </span>
      </button>

    </nav>

    <!-- Alerts -->
    <app-user-alert></app-user-alert>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <footer class="py-5 mt-5" id="user_footer">

      <div class="container-fluid">
        <h2 class="text-center mx-4">Tirtec sistema de gestión para el Instituto Superior Tecnológico del Azuay</h2>
      </div>

    </footer>

  </div>
</div>