<div id="user_wrapper">

  <div class="sidebar">

    <ul class="list-unstyled">
      <li placement="top" ngbTooltip="Inicio">
        <a routerLink="/user/home" routerLinkActive="active">
          <span class="material-icons-round">
            home
          </span>
        </a>
      </li>
      <li placement="top" ngbTooltip="Ingresar ticket">
        <a routerLink="/user/ticket/tipo-servicio" routerLinkActive="active">
          <span class="material-icons-round">
            receipt
          </span>
        </a>
      </li>
      <li placement="top" ngbTooltip="Perfil">
        <a routerLink="/user/perfil" routerLinkActive="active">
          <span class="material-icons-round">
            account_circle
          </span>
        </a>
      </li>
    </ul>

  </div>

  <div class="content">

    <!-- TOP NAV TO CLOSE SESSION -->
    <nav class="user_topnav">

      <div *ngIf="user" class="user_info">
        <p>Bienvenido, <span>{{ user.nombres + ' ' + user.apellidos }}</span> </p>
      </div>

      <button class="btn close_btn" (click)="logout()" placement="bottom" ngbTooltip="Salir">
        <span class="material-icons-round text-danger">
          chevron_right
        </span>
      </button>

    </nav>

    <!-- Alerts -->
    <app-user-alert></app-user-alert>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

  </div>
</div>