<div class="container">
  <app-header-registro-ticket active="2"></app-header-registro-ticket>

  <div class="row">

    <div *ngFor="let catalogo of catalogoServicios" class="col-md-6 col-12 text-center">

      <div class="card-option">

        <a routerLink="/user/ticket/ingreso/{{catalogo.catalogo_id}}">
          <p>{{catalogo.descripcion}}</p>
        </a>

      </div>

    </div>

  </div>

  <div class="row" *ngIf="!isLastpage">
    <div class="col-2 mx-auto text-center">
      <button class="btn btn-icon" [disabled]="loading" (click)="loadMore()">
        <span class="material-icons-round" [class.spinner]="loading">
          autorenew
        </span>
      </button>
    </div>
  </div>

</div>