@import "./variables";
@import "./mixins";

// Bootstrap base style
@import "bootstrap";
@import "material-icons";

@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap";

body {
  font-family: "Nunito", sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

// Rewrite

.ng-valid[required],
.ng-valid.required {
  border-left: 3px solid $green !important;
}

.ng-invalid:not(form) {
  border-left: 3px solid $red !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-icon {
  margin: 15px auto;
  span {
    @include commonIconButton();
    &.spinner:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 4px solid #ffffff;
      border-top-color: #000000;
      animation: spinner 0.8s linear infinite;
    }
  }
}

.btn {
  &.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner 0.8s linear infinite;
  }
}

/* ---------------------------------------------------
    CARD SELECTION STYLE
----------------------------------------------------- */
.card-option {
  margin: 10px auto;
  border: 2px solid $blue;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  a {
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
    border-color: $accent;
    background-color: $accent;
    color: white;
    font-size: 1.45rem;
  }
  p {
    margin-bottom: 0;
  }
}

/* ---------------------------------------------------
    REQUIRED FORM
----------------------------------------------------- */
form div.required label.control-label::after,
form div.required label::after,
div.form-row div.required label::after {
  content: " * ";
  color: var(--danger);
}

form div.required label.custom-control-label::after {
  content: "";
}
